{% extends 'layout.twig' %}

{% block body %}
  <!-- Left Container -->
  <div id="lcnt">

    {% for post in posts %}
      <!-- Post -->
      <div class="post">
        
        <!-- Post Details -->
        <div class="post_inf">

          <span>{{post.date|date("m/d/Y")}}</span><br />
          <span class="posn">{{post.author.name}}</span><br />
          <a class="posc" href="/posts/{{post.id}}">{{post.comments|length}} Comments</a>

        </div>

        <!-- Post Title - Permalink -->
        <h1>
          <a href="/posts/{{post.id}}">{{post.header|e}}</a>
        </h1>

        <!-- Post Content -->
        <a class="pic_lnk" href="/posts/{{post.id}}"><img src="{{post.image}}" alt="{{post.header|e}}" /></a>

        <p>{{post.text|slice(0, 900)|e}}</p>

      </div>
    {% endfor %}

    <!-- Pagination -->	
    <div class="pagination">				
      
      {% if currentPage != 1 %}
        <a class="prev" href="/?page={{currentPage - 1}}">&laquo;Previous</a>
      {% else %}
        <span class="prev">&laquo;Previous</span>
      {% endif %}
      
      {% for page in range(1, allCount) %}
        {% if page == currentPage %}
          <span class="act">{{page}}</span>
        {% else %}
          <a href="/?page={{page}}">{{page}}</a>
        {% endif %}
      {% endfor %}

      {% if currentPage < allCount %}
        <a class="next" href="/?page={{currentPage + 1}}">Next&raquo;</a>
      {% else %}
        <span class="next">Next&raquo;</span>
      {% endif %}
      

    </div>

  </div>
{% endblock %}
