{% extends 'layout.twig' %}

{% block body %}
  <!-- Left Container -->
  <div id="lcnt">
    {% if flashMessage %}
      <h2>{{flashMessage}}</h2>
    {% endif %}
    <!-- Post -->
    <div class="post">
      
      <!-- Post Details -->
      <div class="post_inf">

        <span>{{post.date|date("m d Y")}}</span><br />
        <span class="posn">{{post.author.name|e}}</span><br />
        <span class="posc">{{post.comments|length}} Comments</span>

      </div>

      <!-- Post Title - Permalink -->
      <h1>
        <a href="/posts/{{post.id}}">{{post.header|e}}</a>
      </h1>

      <!-- Post Content -->
      <img src="{{post.image}}" alt="{{post.header|e}}"/>

      <p>{{post.text|e}}</p>

    </div>

    {% if post.comments %}
      <h2>
        <a href="#">{{post.comments|length}} comments</a>
      </h2>

      <!-- Comments -->
      <div class="comments">

        {% for comment in post.comments %}
        <!-- Comment -->
        <div class="comment">

          <div class="comm_hdr">
            <p>{{loop.index}}. {{comment.name|e}} <span> | {{post.date|date("m d Y")}}</span></p>
          </div>

          <div class="avat">
            <img src="/images/avatar.jpg" alt="avatar" />
            <img src="/images/avatar_frame.png" alt="avatar_frame" class="avatar_frame" />
          </div>
        
          <p class="comm_txt">{{comment.text|e}}</p>

        </div> 
        {% endfor %}

    {% endif %}

    <h2>Post your comments</h2>

    <!-- Comment Form -->			
    <form id="cmnt_frm" method="post" action="">
      <input type="hidden" name="postId" value="{{post.id}}"/>
      <p><input type="text" name="name" size="22" tabindex="1" id="author" value="{{user.name}}"/><label>Name <span>(заполнять обязательно)</span></label></p>
      <p><input type="text" name="email" size="22" tabindex="2" id="email" value="{{user.email}}"/><label>E-mail <span>(не публикуется, заполнять обязательно)</span></label></p>
      <p>
        <textarea name="comment" cols="65" rows="10" tabindex="4" id="comment"></textarea>
      </p>
      <p>
        <input type="submit" name="submit" value="Отправить" tabindex="5" id="submit"/>
      </p>
    </form>

  </div>
</div>
{% endblock %}
